<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <!-- Permission used by SleepTimerService, POST_NOTIFICATION defined in main manifest file -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <!-- Permission required by MediaDownloadService to restart the service after process death / reboot  -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <service
                android:name=".PlaybackService"
                android:exported="true"
                android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaLibraryService" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <!-- Service can only be controlled locally, so not exported -->
        <service
                android:name=".SleepTimerService"
                android:exported="false"
                android:foregroundServiceType="specialUse">
            <property
                    android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                    android:value="app_timer" />
        </service>

        <!-- Service can only be controlled locally, so not exported -->
        <service
                android:name=".MediaDownloadService"
                android:exported="false"
                android:foregroundServiceType="dataSync">
            <intent-filter>
                <!-- For letting the framework/scheduler relaunch the service after the process died mid-download. -->
                <action android:name="androidx.media3.exoplayer.downloadService.action.RESTART" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <receiver
                android:name=".DownloadActionReceiver"
                android:exported="false" />
    </application>
</manifest>