<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
            android:name="it.fast4x.rimusic.MainApplication"
            android:allowBackup="true"
            android:banner="@mipmap/ic_banner"
            android:configChanges="colorMode|density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:hardwareAccelerated="true"
            android:appCategory="audio"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="${appName}"
            android:supportsRtl="true"
            android:theme="@style/Theme.RiMusic"
            android:requestLegacyExternalStorage="true"
            android:enableOnBackInvokedCallback="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:usesCleartextTraffic="false"
            tools:targetApi="tiramisu">

        <activity
                android:name="it.fast4x.rimusic.MainActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:theme="@style/Theme.RiMusic"
                android:windowSoftInputMode="adjustResize"
                android:supportsPictureInPicture="true"
                android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
            <!-- NEW PLAYER SERVICE -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Youtube filter -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="youtube.com" />
                <data android:host="m.youtube.com" />
                <data android:host="www.youtube.com" />
                <data android:host="music.youtube.com" />
                <!-- video prefix -->
                <data android:pathPrefix="/v/" />
                <data android:pathPrefix="/embed/" />
                <data android:pathPrefix="/watch" />
                <!-- channel prefix -->
                <data android:pathPrefix="/channel/" />
                <data android:pathPrefix="/user/" />
                <data android:pathPrefix="/c/" />
                <!-- playlist prefix -->
                <data android:pathPrefix="/playlist" />
            </intent-filter>

            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="youtu.be" />
                <data android:pathPrefix="/" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="vnd.youtube" />
                <data android:scheme="vnd.youtube.launch" />
            </intent-filter>

            <!-- Share filter -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- NEW PLAYER SERVICE -->

            <meta-data android:name="android.app.shortcuts"
                    android:resource="@xml/shortcuts" />
        </activity>
        <activity
                android:name=".CopyCrashlogActivity"
                android:theme="@style/Theme.RiMusic"
                android:exported="true">
            <intent-filter>
                <action android:name="COPY_CRASH_LOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ExportDatabaseActivity"
                android:theme="@style/Theme.RiMusic"
                android:exported="true">
            <intent-filter>
                <action android:name="EXPORT_DATABASE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ColorPickerActivity"
                android:configChanges="orientation|screenSize" />
    </application>

</manifest>