name: Build (Nightly)

on:
  schedule:
    - cron: '29 8 * * *'  # 8:29AM every day

  # Allow manual trigger
  workflow_dispatch:


# Prevent multiple jobs from running at the same time
concurrency:
  group: 'nightly-deploy'
  cancel-in-progress: true  # Cancel running job in favor of new request


jobs:
  check-for-changes:
    name: Check for changes
    runs-on: ubuntu-latest

    env:
      CHANGELOGS_FILENAME: changelogs.txt
      WORKFLOWS_FILENAME: workflows.json
      WORKFLOW_ID: ${{ vars.WORKFLOW_ID }}

    outputs:
      since: ${{ steps.last-successful-run.outputs.timestamp }}
      changes_made: ${{ steps.last-successful-run.outputs.changes_made || steps.detect_changes.outputs.changes_made }}

    steps:
      - name: Get workflows
        run: curl -L "https://api.github.com/repos/$GITHUB_REPOSITORY/actions/runs?per_page=100&status=success" > "$WORKFLOWS_FILENAME"

      # To truly detect changes, we need to get when was the last success run happened.
      # This script goes through all runs and take runs of script $WORKFLOW_ID,
      # then it sorts by the updated_at property and take the last (latest run)
      - name: Get last successful run
        id: last-successful-run
        run: |
          LAST_SUCCESSFUL_RUN=$(
            jq -r '
            [
              .workflow_runs[] |
              select(.workflow_id == '$WORKFLOW_ID')
            ] |
            sort_by(.updated_at | fromdate) |
            last |
            .updated_at
            ' "$WORKFLOWS_FILENAME"
          )

          # If there's no previous job, assume this is the first run, and run anyway
          if [ "$LAST_SUCCESSFUL_RUN" = "null" ]; then
            echo "changes_made=true" >> $GITHUB_OUTPUT
          else
            echo "timestamp=$LAST_SUCCESSFUL_RUN" >> $GITHUB_OUTPUT
          fi

      - uses: actions/checkout@v6
        if: ${{ !steps.last-successful-run.outputs.changes_made }}
        with:
          submodules: true
          # Always have a hard-coded limit of how many commits to fetch.
          # Better idea to fetch the whole thing but fetch time goes BRRRRRR.
          fetch-depth: 300

      # git log: shows commit history
      # --since="": Show commits in from this date
      # --name-only: Show name of changed file
      # --pretty=format: Show nothing but file name
      # --submodules: Show changes in submodules too
      # |: Pipe result(s) to next command
      # sort -u: Sort and keep unique lines
      - name: Get change logs
        if: ${{ !steps.last-successful-run.outputs.changes_made }}
        id: changelogs
        env:
          LAST_TIMESTAMP: ${{ steps.last-successful-run.outputs.timestamp }}
        run: |
          NAMES=$(git log --since="$LAST_TIMESTAMP" --name-only --submodule=log --pretty=format:)
          echo "$NAMES" | sort -u > "$CHANGELOGS_FILENAME"

      - name: "DEBUG: Verify changelogs file"
        if: ${{ !steps.last-successful-run.outputs.changes_made }}
        run: cat "$CHANGELOGS_FILENAME"

      # - grep: Filter out strings matched provided expression
      # - -q: Returns 0 upon first match, 1 for else
      # - -e: Additional expression, string only needs to match 1 expression to be considered matched
      #
      # Check for these locations:
      # - composeApp/src/commonMain
      # - composeApp/src/androidMain
      # - composeApp/src/androidGithub
      # - composeApp/src/github
      # - build.gradle.kts              : Any file in the project
      # - gradle/**
      # - extensions/**
      # - modules/**
      - name: Filter locations
        if: ${{ !steps.last-successful-run.outputs.changes_made }}
        id: detect_changes
        continue-on-error: true
        run: |
          grep -q \
              -e "^composeApp/src/androidMain/" \
              -e "^composeApp/src/commonMain/" \
              -e "^composeApp/src/androidGithub/" \
              -e "^composeApp/src/github/" \
              -e "build\.gradle\.kts$" \
              -e "^gradle/" \
              -e "^extensions/" \
              -e "^modules/" \
              $CHANGELOGS_FILENAME
          
          EXIT_CODE=$? 
          [[ $EXIT_CODE -eq 0 ]] && echo "changes_made=true" >> $GITHUB_OUTPUT

  prep:
    needs: [check-for-changes]
    if: ${{ needs.check-for-changes.outputs.changes_made == 'true' }}

    name: Preparing needed components
    runs-on: ubuntu-latest

    outputs:
      filename: ${{ steps.changelogs.outputs.filename }}

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          # Always have a hard-coded limit of how many commits to fetch.
          # Better idea to fetch the whole thing but fetch time goes BRRRRRR.
          fetch-depth: 300

      - name: Extract version code
        id: version
        run: |
          VERSION_CODE=$(grep -E '^\s*val VERSION_CODE\s*=\s*' composeApp/build.gradle.kts | awk -F '= ' '{print $2}')
          echo "code=$VERSION_CODE" >> $GITHUB_OUTPUT

      - name: "DEBUG: Print version code"
        run: echo "${{ steps.version.outputs.code }}"

      - name: Get changes from git log
        id: changelogs
        env:
          SINCE: ${{ needs.check-for-changes.outputs.since }}
          CODE: ${{ steps.version.outputs.code }}
        run: |
          FILENAME="${CODE}.txt"
          echo "filename=$FILENAME" >> $GITHUB_OUTPUT

          echo "Changes:" > "$FILENAME"

          git --no-pager log \
            --since="${SINCE:-1 day ago}" \
            --pretty=format:"- %s" \
            --reverse -- \
            composeApp/src/androidMain/ \
            composeApp/src/commonMain/ \
            composeApp/src/androidGithub/ \
            composeApp/src/github/ \
            "**/build\.gradle\.kts" \
            gradle/ \
            modules/ \
            extensions/ >> "$FILENAME"

      - name: "DEBUG: Print change logs file"
        run: cat "${{ steps.changelogs.outputs.filename }}"

      - name: Upload change logs file
        uses: actions/upload-artifact@v6
        with:
          name: changelogs
          path: ${{ steps.changelogs.outputs.filename }}

  build-github-nightly:
    needs: [prep]

    name: Build GitHub nightly
    runs-on: ubuntu-latest

    timeout-minutes: 60       # Prevent Github Action from terminating this workflow on first run

    env:
      STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
      KEY_PASSWORD: ${{ secrets.NIGHTLY_KEY_PASSWORD }}
      OFFICIAL_BUILD_PASSPHRASE: ${{ secrets.OFFICIAL_BUILD_PASSPHRASE }}
      KEYSTORE_PATH: ${{ vars.KEYSTORE_PATH }}
      KEYSTORE_FILENAME: nightly.jks

    steps:
      # Checkout is placed before reverting keystore because in read
      # GitHub Action env, the repo gets cloned into another folder
      # i.e /home/runner/work/Kreate/Kreate
      # Without cloning first, the keystore will be placed in
      # /home/runner/work/Kreate/.ignore.d/keystores/nightly.jks
      # Which will unintentionally make the build process fail because it
      # can't find the keystore to sign the apk
      - uses: actions/checkout@v6
        with:
          submodules: true
          # Only clone the latest version of repo.
          # Checking for changes happened before this job so
          # it's unnecessary to pull more than needed.
          # Plus, save time for other steps to run

      - name: Revert keystore from base64 to PCKS#12 file
        run: |
          mkdir -p "$KEYSTORE_PATH"

          echo "${{ secrets.NIGHTLY_KEYSTORE }}" | base64 -d > $KEYSTORE_PATH/$KEYSTORE_FILENAME

      # This step is designed to fail when decoded keystore's
      # hash doesn't match pre-defined hash
      - name: Verify keystore
        run: echo "${{ secrets.NIGHTLY_KEYSTORE_SHA256 }} $KEYSTORE_PATH/$KEYSTORE_FILENAME" | sha256sum -c

      - name: Download change logs
        uses: actions/download-artifact@v7
        with:
          name: changelogs
          path: fastlane/metadata/android/en-US/changelogs/

      - name: "DEBUG: Verify change logs"
        run: cat "fastlane/metadata/android/en-US/changelogs/${{ needs.prep.outputs.filename }}"


      - name: Setup Java 21
        uses: actions/setup-java@v5.2.0
        with:
          java-version: "21"
          distribution: "corretto"

      - name: Restore Gradle dependencies & build cache
        # This job also acts as a cache builder for release builds
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ./build
            ./composeApp/build
          key: gradle-${{ runner.os }}-${{ hashFiles('**/gradle-wrapper.properties', '**/libs.versions.toml') }}
          # Pulls latest cache artifact
          restore-keys: gradle-${{ runner.os }}-

      - name: Build with Gradle
        run: ./gradlew assembleGithubUniversalNightlyRelease

      - name: Get build path
        id: build_path
        run: echo "path=composeApp/build/outputs/apk/githubUniversalNightly/release/Kreate-nightly.apk" >> $GITHUB_OUTPUT

      - name: Upload artifact for uploading
        uses: actions/upload-artifact@v6
        with:
          name: apk
          path: ${{ steps.build_path.outputs.path }}

  capture-time:
    name: Capture current time
    runs-on: ubuntu-latest

    # Set date as a variable
    outputs:
      date: ${{ steps.date.outputs.date }}
      dot-date: ${{ steps.dot_date.outputs.date }}

    steps:
      - name: Get date
        id: date
        # Output of "October 2 2024" will be "20241002"
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      - name: Get dot date
        id: dot_date
        # Output of "October 2 2024" will be "2024.10.02"
        run: echo "date=$(date +'%Y.%m.%d')" >> $GITHUB_OUTPUT

  upload-to-release:
    needs: [capture-time, build-github-nightly]

    name: Upload to release
    runs-on: ubuntu-latest

    steps:
      - name: Download APKs
        uses: actions/download-artifact@v7
        with:
          name: apk

      - name: Upload built APK to release
        # Skip this step when running with nektos/act
        if: ${{ !env.ACT }}
        uses: softprops/action-gh-release@v2
        with:
          files: 'Kreate-nightly.apk'
          # Name: v20250303 | Nightly build
          name: "${{ needs.capture-time.outputs.date }} | Nightly build"
          # Tag name: v2025.03.03
          tag_name: v${{ needs.capture-time.outputs.dot-date }}
          prerelease: true
          body: |
            ## This is a nightly build

            It's not meant for normal users, only install this version if you know what you're doing.

            ---

            To download official release, please visit [releases/latest](https://github.com/knighthat/Kreate/releases/latest)

          token: ${{ secrets.RELEASE_TOKEN }}
          generate_release_notes: true
